<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>LOG IN</title>
</head>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="style.css">
<body>


<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <div class="fadeIn first">
      <img src="img1.webp" id="icon" alt="User Icon">
    </div>

    
    <form name="f1" id="f1" method="POST" action="/user/login">
      <input type="text" id="login" class="fadeIn second" name="uname" placeholder="E-mail">
      <input type="password" id="password" class="fadeIn third" name="pwd" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    <div id="formFooter">
      <a class="underlineHover" href="/register">New USER?</a>
    </div>

  </div>
</div>
</body>
</html>