<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign in</title>
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
     <p align="center">
     <div class="row-8">
          <%
               var title = "Mr. ";
               if(data.gender=="Female"){
                    title = "Miss. ";
               }
          %>
          <h1>Welcome <%=title%><%=data.uname%></h1>
          <h1>Vendor ID : <%=data.venid%></h1>
          <h1>Password : <%=data.pwd%></h1>
          <h4><a href="/loginv">Click here to Login</a></h4>
     </div>
</p>
</div> 



<br><br>

</body>
</html>